.restaurant {
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  background: #f4f4f4;

  h2 {
    color: #4f4f4f;
    text-align: center;
  }

  h3 {
    color: #4f4f4f;
    text-align: center;
    font-style: italic;
  }

  ul li {
    list-style-type: none;
  }
}

.tabs {
  display: flex;

  li {
    list-style-type: none;
    padding: 5px;
    font-size: 1.5rem;
    color: rgb(40, 40, 226);
    font-style: italic;

    &:hover button {
      color: gray;
      cursor: pointer;
    }

    &.active button {
      color: gray;
    }
  }
}
